    <section class="hidden-xs" id="cwrap">
        <div class="container">
            <div class="row">
                <h3 class="text-center">SOME OF OUR CLIENTS</h3>
                {% for client in site.clients %}
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="client">
                            <a href="{{ client.link }}" target="_blank">
                                <img class="img-responsive" alt="{{ client.name }}" src="{{ "/assets/img/clients/" | prepend: site.baseurl }}{{ client.img }}">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div><!--/row -->
        </div><!--/container -->
    </section><!--/cwrap -->
