    <section class="hidden-xs" id="cwrap">
        <div class="container">
            <div class="row centered">
                <h3>OUR CLIENTS</h3>
                {% for client in site.clients %}
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <a href="{{ client.link }}" target="_blank">
                            <img src="{{ "/assets/img/clients/" | prepend: site.baseurl }}{{ client.img }}" class="img-responsive">
                        </a>
                    </div>
                {% endfor %}
            </div><!--/row -->
        </div><!--/container -->
    </section><!--/cwrap -->
