    {% assign services = site.categories.service | sort: 'sid' %}
    <section id="services">
        <div class="container">
            <div class="row centered">
                {% for service in services %}
                <div class="col-sm-4 col-md-4 col-lg-4">

                        <i class="fa {{ service.icon }}"></i>
                        <h4>{{ service.title }}</h4>
                        <p>{{ service.modal }}</p>

                </div>
                {% endfor %}
            </div>
        </div><!--/container -->
    </section><!--/service -->
