    <!-- Service Modals -->
    {% assign services = site.categories.service | sort: 'sid' %}
    <section>
        {% for service in services %}
        <div class="service-modal modal fade" id="service-{{ service.title | slugify }}" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="{{ service.title | downcase }}">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2><i class="fa {{ service.icon }}"></i> {{ service.title }}</h2>
                                <hr class="star-primary">
                                <img src="img/services/{{ post.img }}" class="img-responsive img-centered" alt="{{ service.alt }}">
                                <p>{{ service.content }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
