---
layout: blog
title: Blog
<!-- permalink: /blog/ -->
---

<div class="container mtb">
    <div class="row">

        <!-- BLOG POSTS LIST -->
        <div class="col-lg-8">

            {% for post in paginator.posts %}
                <! -- Blog Post -->
                {% if post.img %}
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ post.img }}">
                </a>
                {% endif %}
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>
                <p><csmall>{{ post.date | date: "%b %-d, %Y" }} | By: {{ post.author }}</csmall></p>
                {{ post.excerpt }}
                <p><a href="{{ post.url | prepend: site.baseurl }}">[Read More]</a></p>
                <div class="hline"></div>

                <div class="spacing"></div>
            {% endfor %}
            <nav>
              <ul class="pager">
                {% if paginator.next_page %}
                <li class="previous"><a href="{{ paginator.next_page_path }}"><span aria-hidden="true">&larr;</span> Older</a></li>
                {% endif %}
                {% if paginator.previous_page %}
                <li class="next"><a href="{{ paginator.previous_page_path }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
                {% endif %}
              </ul>
            </nav>
        </div><!--/col-lg-8 -->

        {% include sidebar.html %}
        
        <!-- Pagination links -->
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
          {% else %}
            <span class="previous">Previous</span>
          {% endif %}
          <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
          {% else %}
            <span class="next ">Next</span>
          {% endif %}
        </div>

    </div><!--/row -->
</div><!--/container -->


