---
layout: default
title: Home
---
{% include sections/banner.html %}
{% include sections/services.html %}
{% include modals.html %}
{% include sections/clients.html %}

<div class="container mtb">
    <div class="row">
        <div class="hidden-xs col-sm-6 col-md-6 col-lg-6">
            <h4>About Us.</h4>
            {{ site.about | markdownify }}
            <p><a role="button" href="{{ " /about/" | prepend: site.baseurl }}">Read more</a></p>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h4>From the Help Center</h4>
            <div id="helpcenter" class="hline"></div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

        </div>

    </div>
    <!--/row -->
</div>
<!--/container -->
